body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #000000, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    animation: fadeIn 1.5s ease-in-out;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 2.5em;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #333;
    box-sizing: border-box;
}

.form-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

form h2 {
    margin-bottom: 1.5em;
    font-size: 2.5em;
    color: #333;
    text-align: center;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.form-group {
    margin-bottom: 1.5em;
    animation: fadeIn 1.5s ease-in-out;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
    font-weight: 500;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.3);
}

.form-group input.invalid,
.form-group textarea.invalid,
.form-group select.invalid {
    border-color: red;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.3);
}

button {
    width: 100%;
    padding: 0.75em;
    background-color: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4b0a99;
}

.footerD {
    text-align: center;
    margin-top: 20px;
}

.footerD p {
    font-size: 0.8em;
    color: #666;
}
